 /* this will reset the page to ensure there are no spaces */

 * {
   border: 1px solid gray;
 }

 html, body {
   padding: 0;
   margin: 0;
   font-family: 'Capriola', serif;
   font-size: 24px;
   /* height: 100%; */
   /* width: 100%; */
 }

 .toggle {
   position: fixed;
   top: 40px;
   left: 40px;
   z-index: 2;
 }

 .toggle a {
   text-decoration: none;
   color: Black;
   cursor: pointer;
   font-size: 24px;
 }

 .slide {
   margin: 0;
   padding: 0;
   position: fixed;
   top: 0;
   left: -100%;
   background: #F15A29;
   height: 100%;
   width: 100%;
   z-index: 1;
   transition: 1s;
 }

 ul {
   margin: 0;
   padding: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50% 50%);
   text-align: center;
 }

 ul li {
   list-style-type: none;
 }

 ul li a {
   padding: 10px;
   display: inline-block;
   font-size: 2em;
   text-decoration: none;
   color: black;
   text-transform: uppercase;
 }

 ul li a:hover {
   background: yellow;
 }

 .slide.active {
   left: 0;
   overflow: auto;
 }

 .head {
   display: grid;
   justify-items: center;
   align-items: center;
   justify-content: center;
   align-content: center;
   background-image: url(../images/backgrounds/landing.jpg);
   height: 100vh;
   width: 100vw;
   background-repeat: no-repeat;
   background-size: cover;
 }

 .menu-text1 {
   color: white;
 }

 .menu-text2 {
   color: white;
   text-align: center;
 }

 .wrapper {
   width: 100vw;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
 }

 .happy {
   height: 50%;
   text-align: center;
 }

 .party {
   height: 50%;
   text-align: center;
   background: #F15A29;
 }

 .ff {
   width: 80%;
 }

 .fast-images {
   border: 1px;
   padding: 20px;
   box-shadow: 0 0 10px #ededed;
 }

 .fast-text {
   padding: 50px;
 }

 .font-40 {
   font-size: 40px;
 }

 .pfont {
   font-size: 15px;
 }

 #gallery {
   padding: 5px 25px;
   background: white;
   border: 1px solid #F15A29;
 }

 .gallery {
   color: #F15A29;
 }

 .padded {
   padding: 0;
   margin-right: -11px;
 }

 .padden {
   padding: 0;
   margin-left: -15px;
 }

 .box-shadow {
   border: 1px;
   padding: 20px;
   box-shadow: 0 0 10px #ededed;
 }

 .burger {
   background-image: url(../images/backgrounds/foodsBg.jpg);
   width: 100vw;
   background-repeat: no-repeat;
   background-size: cover;
   padding: 60px;
 }

 .foods {
   background: white;
 }

 .customers {
   padding: 70px;
 }

 .size {
   width: 60%;
 }

 .form-button {
   width: 70%;
   margin: auto;
 }

 .suscribe {
   background-image: url(../images/backgrounds/subscribe.jpg);
   width: 100vw;
   background-repeat: no-repeat;
   background-size: cover;
   padding: 120px;
 }

 .header-main h3 {
   color: white;
 }

 #submit {
   background: #F15A29;
   color: white;
 }

 footer {
   padding: 60px;
   background: #F15A29;
 }

 .inline {
   display: inline;
   padding: 10px 15px;
 }

 .social {
   margin: auto;
   width: 30%;
 }

 .party-time {
   color: white;
 }

 .fp-15 {
   font-size: 15px;
 }

 .fw {
   width: 60%;
 }

 .orange {
   color: #F15A29;
 }

 #food-headers {
   background: #e3e3e3;
   padding: 15px;
 }

 #image-holder {
   padding: 30px;
 }

 .white {
   background: white;
 }

 .t-white {
   color: white;
 }

 #footer-header {
   font-size: 30px;
 }

 .copyright {
   padding: 40px;
 }